*{
    padding:0;
    margin:0;
}
/* main header file */

/* Navigation bar:Navbar content */
.navbar{
    display: flex;
    position: sticky;
    top:0%;
}

.navlist {
    width:50%;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 20%;
    
}

.header{
    padding:2px 50px 0px;
    color: white;
    font-size: 50px;
}
.navlist li{
    list-style: none;
    padding: 0px 40px; 
    
} 
.navlist li a{
    text-decoration: none;
    color: white;

}
.background{
    background:rgb(8, 41, 28) url("../image/bg.jpg");
    background-size: cover;
} 
ul li a:hover{
     background-color: green;
     color:white;

}

/* Section part:first section */
.firstsection{
    height:100vh;
}
.mainbox{
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: auto;
    padding-top: 150px;
}
  /* Section:firsthalf */
  .firsthalf{ 
      color: white;
      text-align: center;
      justify-content: center;
      align-items: center;

  }
.title{
    font-size: 200%;
    padding:10px;
    
}
.bigtext{
    font-size: 300%;
    padding:10px;
}
.smalltext{
    font-family: 'Dosis', sans-serif;
    padding:10px;
}
/* Section:buttonhalf */
.button{
    padding-left: 200px;
}
.btn{
   padding:3px 15px;
   margin:50px 10px;
   border:2px solid whitesmoke ;
   border-radius: 100px;
   font-size: 19px;
   cursor:pointer;
}
.btn:hover{
    color:white;
    background-color: green;
}
/* second section */
/* Second section:first part */
.firstpart{
    align-items: center;
    text-align: center;
    margin:60px 0 30px;
}
.para1{
    color:chartreuse;
    font-size: 20px;
}
.head{
    padding:5px 0 20px;
}
.para2{
    margin:0 500px 10px;
    font-size: 15px;
    color:rgb(150, 148, 148);
}
/* Second Section:second part */
.secondpart{
    display:flex;
    padding:10px 100px 30px 150px; 
    align-items: center;
}
.img1{
    height:1%;
    width:25%;
    padding: 0px 100px;
}
.content{
    padding-right: 100px;
    text-align: justify;
}
.p1{
    color: chartreuse;
    font-size: 20px;
    padding:5px 0px;
}
.p2{
    font-size: 20px;
    padding-bottom:10px;
}
.p3{
    color: rgb(150, 148, 148);
}
.lower{
    margin:25px 25px 10px;
    align-items: center;
    display: flex;
}
#I1{
    border:2px solid blue;
    height:50px;
    width:50px;
    border-radius: 50%;
    font-size: 30px;
    color:blue;
    padding: 30px;
    margin:0px 15px;


}
#I2{
    border:2px solid green;
    height:50px;
    width:50px;
    border-radius: 50%;
    font-size: 30px;
    color:green;
    padding: 30px;
    margin: 0px 15px;


}
#I3{
    border:2px solid orange;
    height:50px;
    width:50px;
    border-radius: 50%;
    font-size: 30px;
    color:orange;
    padding: 30px;
    margin:0px 15px;
}
.smallpart{
    display: flex;
}
#I4{
    margin:0px 50px;
}
#I5{
   margin:0px 40px;
}
#I6{
    margin:0px 50px;
}
/* third section */
.thirdsection{
    background-image:url(..//image/2.jpg);
    height:100vh;
    width:100%;
    background-position: center;
    background-size: cover;

}
/* third section:upperhead*/
.upperhead{
    color:white;
    justify-content: center;
    text-align: center;
    padding:25px 0px 30px;
    
}
#one{
    color: rgb(245, 219, 72);
    margin:0px 30px;
    font-size: 20px;

}
#two{
    font-size: 50px;
}
/* third section:lowerhead */
.lowerhead{
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;
}
h3{
    color:rgb(164, 241, 86);
    padding:20px;
    text-align: center;
    text-decoration: underline;

}
.cns{
    border:2px solid black;
    height:30vh;
    width:20%;
    border-radius: 50px;
    background-color: white;
    margin:10px 50px;
    padding:10px 50px;
}
.pns{
    border:2px solid black;
    height:30vh;
    width:20%;
    border-radius: 50px;
    background-color: white;
    margin:10px 50px;
    padding:10px 50px;
}
.kns{
    border:2px solid black;
    height:30vh;
    width:20%;
    border-radius: 50px;
    background-color: white;
    margin:10px 50px;
    padding:10px 50px;
}
.hns{
    border:2px solid black;
    height:30vh;
    width:20%;
    border-radius: 50px;
    background-color: white;
    margin:10px 50px;
    padding:10px 50px;
}
/* fourth section:top section */
.top{
    justify-content: center;
    text-align: center;
    margin:20px;
}
.left{
    color:chartreuse;
    font-size:20px;
}
.right{
    font-size: 50px;
}
/* fourth section:image section */
#img1{
    width:30%;
    height:60vh;
    margin:10px 10px 10px 50px;
    border-radius: 20px;
}
#img2{
    width:30%;
    height:60vh;
    margin:10px;
    border-radius: 20px;
}
#img3{
    width:30%;
    height:60vh;
    margin:10px;
    border-radius: 20px;
}
#img4{
    width:30%;
    height:60vh;
    margin:10px 10px 10px 50px;
    border-radius: 20px;
}
#img5{
    width:30%;
    height:60vh;
    margin:10px;
    border-radius: 20px;
}
#img6{
    width:30%;
    height:60vh;
    margin:10px;
    border-radius: 20px;
}
/* Contact Section */
.myform{
    background-color: rgb(193, 243, 144);
    height:90vh;
}
.Contact{
    padding:10px 0px 40px;
    text-align: center;
    margin:30px 0px;
    font-size: 40px;
}
.details{
    max-width: 40%;
    margin:12px auto;
    
}
.myform-np{
    width:100%;
    margin:7px 10px;
    padding:6px 9px;
    border:2px solid green;
    border-radius: 10px;
    
}
.btn-dark{
    border:2px solid green;
    margin:5px 10px;

}
/* footer section */
.footer{
    text-align: center;
    display: flex;
    justify-content: center;
    padding:15px 0px;
    background-color:rgb(169, 230, 109);
    color:black;

}



